@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<SwarmAthonApi.Views.Models.Overview>
<html>
<head>
    <meta name='viewport' content='width=device-width, initial-scale=1'></meta>
    <title>General Report</title>
    <link rel='stylesheet' href='http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css'></link>
    <link href="https://fonts.googleapis.com/css?family=Hind+Vadodara" rel="stylesheet">
    <script type='text/javascript' src='http://code.jquery.com/jquery-2.2.1.min.js'></script>
    <script>
$(document).bind('mobileinit',function(){
                $.mobile.pushStateEnabled = false;
            });</script>
    <script src='http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.js'></script>
    <style>
        table, th, td {
            background-color: #FDEEF4;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            border: 1px #CFCFCF;
            text-shadow: none;
        }

        span {
            font-size: 100%;
            color: #A81D1F;
            font-weight: bold;
            font-family: Helvetica;
            text-shadow: 0px 2px 3px #555;
        }

        body {
            background-color: #ff0000;
            color: #ffffff;
            font-family: 'Hind Vadodara';
            font-size: 24px;
        }
    </style>
</head>
<body>
    <div data-role='page' id='pageone'>
        <div data-role='header'>
            <span>
                <h1><i><em>Denmark&nbsp;<img src="http://www.all-flags-world.com/country-flag/Denmark/flag-denmark-S.jpg" alt="" width="52" height="40" /></em></i></h1>
            </span>
            <p>Feature Overview for build: 1</p>
        </div>
        <table class='menu' width='100%'>
            <tr>
                <th>Features</th>
                <th>Total Scenarios</th>
                <th style='background-color:#00A000'>Passed Scenarios</th>
                <th style='background-color:#FF0000'>Failed Scenarios</th>
               
            </tr>
            <tr style='text-align:center;vertical-align:middle'>
                <td>3</td>
                <td>@Model.TotalScenarios</td>
                <td>@Model.ScenariosPassed</td>
                <td>@Model.ScenariosFailed</td>               
            </tr>
        </table>
        <div data-role='main' class='ui-content'>
            <div data-role='collapsible'>
                <h2>Detailed report</h2>
                <iframe src='feature-overview.html' width='100%' frameborder='0' height='1980'></iframe>
            </div>
        </div>
    </div>
</body>
</html>
